
@keyframes slide-in {
    0%, 100% {
        top: -10vh
    }
    25%, 50% {
        top: 10vh;
    }
}

@keyframes fade-in {
    from {
        opacity: 60%
    }

    to {
        opacity: 100%
    }
}

#palette-generator {
    display: flex;
    width: 100%;
}


.color-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 20%;
    height: 100%;
    animation-name: fade-in;
    animation-duration: 3s;
}

.color-code {
    font-weight: bold;
    font-size: 36px;
    margin: 20px;
}

.offscreen{
    top: -10vh
}

.slide-animation{
    animation: slide-in 3s;
    animation-fill-mode: forwards;
}

#info {
    width: 100%;
    height: 10vh;
    z-index: 9999;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden{
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.info-content {
    font-size: 20px;
    padding: 20px 10px;
    border: 4px solid black;
    border-radius: 25px;
    text-align: center;
    min-width: 20vw;
}

.start-info {
    background-color: lightblue;
}

.copy-info {
    background-color: lightgreen;
}

.icon {
    margin: 10px;
    width: 1.5vw;
    padding: 10px;
    border-radius: 20px;
    display: none;
}

.locked {
    display: block;
}

.icon:hover {
    background-color: gray;
    cursor: pointer;
}

.color-container:hover .icon {
    display: block;
}